In [4]:
print("Hello World!")

Hello World!

In [5]:
print(   "/|" )
print(  "/_|" )
print( "/__|" )
print("/___|" )

/|
/_|
/__|
/___|

In [6]:
print("   /| ")
print("  /_| ")
print(" /__| ")
print("/___| ")

   /|
  /_|
 /__|
/___|

In [3]:
print("/___|")
print("   /|")
print("  / |")
print(" /  |")

/___|
   /|
  / |
 /  |

In [2]:
print("There once was a man named John,")
print("he was 35 years old.")
print("He really liked the name John,")
print("but he didn't like being 35.")

There once was a man named John,
he was 35 years old.
He really liked the name John,
but he didn't like being 35.

In [1]:
character_name = "George"

print(f"There once was a man named {character_name},")
print("he was 35 years old.")
print(f"He really liked the name {character_name},")
print("but he didn't like being 35.")

There once was a man named George,
he was 35 years old.
He really liked the name George,
but he didn't like being 35.

In [2]:
character_name = "George"
character_age = 70

print(f"There once was a man named {character_name},")
print(f"he was {character_age} years old.")
print(f"He really liked the name {character_name},")
print(f"but he didn't like being {character_age}.")

There once was a man named George,
he was 70 years old.
He really liked the name George,
but he didn't like being 70.

In [6]:
character = {
    "name": "George",
    "age": 70,
}

print(f"There once was a man named {character["name"]},")
print(f"he was {character["age"]} years old.")
print(f"He really liked the name {character["name"]},")
print(f"but he didn't like being {character["age"]}.")

There once was a man named George,
he was 70 years old.
He really liked the name George,
but he didn't like being 70.

In [11]:
character_name = "George"
character_age = 70

print(f"There once was a man named {character_name},")
print(f"he was {character_age} years old.")

character_name = "Tom"

print(f"He really liked the name {character_name},")
print(f"but he didn't like being {character_age}.")

There once was a man named George,
he was 70 years old.
He really liked the name Tom,
but he didn't like being 70.

In [10]:
character = {
    "name": "Jianyue Hugo Liang",
    "age": 16,
    "grade": "Year 10",
    "sub1": "Mathematics",
    "sub2": "Physics",
    "sub3": "Business Management",
    "sub4": "English",
    "sub5": "Japanese",
    "sub6": "Chinese",
}

print(f"""
    There was a student in NIC who named {character["name"]},
    he is {character["age"]} years old and current {character["grade"]}. 
    He is going to take {character["sub1"]}, {character["sub2"]}, and {character["sub3"]} for HLs.
    For SLs, he is taking {character["sub4"]}, {character["sub5"]} and {character["sub6"]}.
""")

    There was a student in NIC who named Jianyue Hugo Liang,
    he is 16 years old and current Year 10.
    He is going to take Mathematics, Physics, and Business Management for HLs.
    For SLs, he is taking English, Japanese and Chinese.

In [ ]:
character_name = "Totaku"
character_age = 14
subject_1 = "Mathematics"
subject_2 = "English"

print(f"There once was a student named {character_name},")
print(f"he was {character_age} years old.")
print(f"He really liked {subject_2},")
print(f"but he struggling in {subject_1}.")